.resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.chartContainer {
    width: 45%;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .chartContainer {
        width: 100%;
    }
}


.resultsPlate {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.resultsPlate h4 {
    margin: 10px 0;
}

